<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download File</title>
    <link rel="stylesheet" href="../static/style/style.css"/>
</head>
<body>
    <div class="container">
        <div class="centered">
            <h1 class="title">download your file</h1>
            <h2 style="margin-bottom: 28px;" class="subtitle">you are about to download <strong>{{ filename }},</strong> press the button below:</h2>
            
            <div class="upload">
                <svg class="upload-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="18px" height="18px">
                    <path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM16 11h-3v6h-2v-6H8l4-4 4 4z"/>
                </svg>
                <a href="{{ download_link }}" target="_blank" class="download-link">download file</a>
            </div>
            <a >Download File</a>
        </div>
    </div>
</body>
</html>
